@model IEnumerable<AUSH.Foundation_Result>

@{
    ViewBag.Title = "Current Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Records</h2>
<h4>Foundation Result</h4>
<br/>
<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoundationResultID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoundationResultID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoundationResultID })
        </td>
    </tr>
}

</table>
